@import "_var.scss";

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("../images/bg-pattern.svg");
   background-position: top;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: var(--Very_Pale_Blue);
   min-height: 100vh;
   /*overflow: hidden;*/
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 550px;
   .header__wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 60px 50px 70px 50px;
      margin-bottom: 20px;
      text-align: center;
      background-image: url("../images/pattern-circles.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25%;
      h1{
         font-size: 26px; 
         font-weight: bold;
         margin-bottom: 10px;
      }
      p{
         font-size: 13px;
         font-weight: 700;
         color: var(--Grayish_Blue);
      }
   }
   .mainwrapper{
      -webkit-box-shadow: 0px 7px 25px 5px rgba(51,51,51,0.15); 
      box-shadow: 0px 7px 25px 5px rgba(51,51,51,0.15);
      background-color: transparent;
      border-radius: 10px;
      
   }
   .pricing__component__wrapper{
      background-color: white;
      padding: 50px 40px 25px;
      border-radius: 5px 5px 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      /*-webkit-box-shadow: 0px 7px 25px 5px rgba(51,51,51,0.15); 
      box-shadow: 0px 7px 25px 5px rgba(51,51,51,0.15);*/
      .pg_views, .month_amount{
         /*width: 50%;*/
         /*text-align: center;*/
         font-weight: 700;
         font-size: 14px;
         letter-spacing: 2px;
         color: var(--Grayish_Blue);
         .view_content{
            text-transform: uppercase;
         }
      }
      
      .month_amount_wrapper{
         color: var(--Grayish_Blue);
         /*vertical-align: center;*/
         span:nth-child(1){
            font-size: 45px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #333;
         }
         span:nth-child(2){
            font-size: 14px;
            font-weight: 700;
            position: relative;
            top: -12px;
         }
            
      }
      .slide__bar__wrapper{
         width: 100%;
         margin: 30px 0 45px 0;
         .slider{
            -webkit-appearance: none;
            appearance: none;
            /*overflow: hidden;*/
            width: 100%;
            height: 10px;
            border-radius: 50px;
            background-color: var(--Light_Grayish_Blue);
            outline: none;
            opacity: 0.7;
            transition: opacity .2s;
         }
         /*.slider::-webkit-slider-runnable-track{
            height: 10px;
            -webkit-appearance: none;
            color: #13bba4;
         }*/
         .slider:hover{
            opacity: 1;
         }
         .slider::-webkit-slider-thumb{
            -webkit-appearance: none;
            appearance: none;
            width: 35px;
            height: 35px;
            cursor: pointer;
            border-radius: 50%;
            background: #12a899; 
            background-image: url("../images/icon-slider.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 65%;
            -webkit-box-shadow: 0px 13px 33px 5px rgba(18,168,153,0.77); 
            box-shadow: 0px 13px 33px 5px rgba(18,168,153,0.77);
            transition: background-color 0.3s ease-in-out;
            &:hover{
               background-color: #3ce7d6; 
            }
         }
        
      }
      .billing__wrapper{
         width: 100%;
         margin-bottom: 25px;
         .billing__selection{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            line-height: 2.0;
             span{
               font-size: 13px;
               font-weight: 700;
               color: var(--Grayish_Blue);
            }
            .checkbox{
               display: none;
               opacity: 0;
               position: absolute;
            }
            .switch{
               position: relative;
               background-color: var(--Light_Grayish_Blue);
               border-radius: 50px;
               height: 25px;
               width: 55px;
               //padding: 4px;
               margin: 0 15px;
               cursor: pointer;
               .toggle{
                  position:absolute;
                  //top: -1.5px;
                  background-color: var(--Light_Grayish_Blue2);
                  //width: 20px;
                  //height: 20px;
                  //border-radius: 50px;
                  cursor: pointer;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  top: 0;
                  transition: .4s;
               }
               .toggle::before{
                  content: "";
                  position: absolute;
                  background-color: white;
                  bottom: 0;
                  left: 3px;
                  right: 0;
                  top: 2.5px;
                  width: 20px;
                  height: 20px;
                  transition: .4s;
               }
               #chk:checked + .toggle{
                  background-color: var(--Strong_Cyan);
               }
               #chk:checked + .toggle:before {
                  transform: translateX(28px);
               }
               .toggle.slider {
                  border-radius: 34px;
                }
                
               .toggle.slider:before {
                  border-radius: 50%;
                }
            }
            .discount__amount{
               font-size: 10px;
               font-weight: 700;
               /*background-color: var(--Light_Grayish_Red);*/
               color: var(--Light_Red);
               margin-right: 20px;
               height: 20px;
               /*line-height: 2.9;*/
               margin-left: 15px;
               padding: 0 5px;
               border-radius: 50px;
            }
         }
      }
   }
   .cta__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 40px;
      color: var(--Grayish_Blue);
      background-color: white;
      border-radius: 0 0 5px 5px;
      margin-top: 2px;
      /*-webkit-box-shadow: 0px 7px 25px 5px rgba(51,51,51,0.15); 
      box-shadow: 0px 7px 25px 5px rgba(51,51,51,0.15);*/

      .features{
         list-style: none;
         li{
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: 600;
            .chk_mark{
               margin-right: 10px;
            }
         }
      }
      .trial_btn{
         text-decoration: none;
         color: var(--Grayish_Blue);
         font-size: 12px;
         font-weight: 700;
         background-color: var(--Dark_Desaturated_Blue);
         padding: 10px 30px;
         border-radius: 50px;
         transition: color 0.2s ease-in-out;
         &:hover{
            color: white;
         }
      }
   }
}





.attribution{
   width: 100%;
}